.cadastrar_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin-left: 150px;
  margin-top: 50px;
}
.cadastrar_container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}
.cadastrar_container h2,
p {
  display: flex;
  margin-bottom: 14px;
  font-weight: 300;
  color: #7b7b7b;
}
.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 80%;
}
.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
